#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 > #backgroundBox {
  position: absolute;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_1 {
  position: absolute;
  width: 25.58119658119638px;
  height: 24.649999999999864px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_2 {
  position: absolute;
  width: 23.02307692307693px;
  height: 29.0px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_3 {
  position: absolute;
  width: 22.370756117502907px;
  height: 25.360499624907906px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_4 {
  position: absolute;
  width: 20.46495726495732px;
  height: 23.199999999999704px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_5 {
  position: absolute;
  width: 29.26675243915518px;
  height: 29.266752439155088px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_6 {
  position: absolute;
  width: 29.266752439155184px;
  height: 29.266752439155088px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_7 {
  position: absolute;
  width: 29.2667524391551px;
  height: 29.266752439155088px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_8 {
  position: absolute;
  width: 29.266752439155056px;
  height: 29.266752439155088px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_9 {
  position: absolute;
  width: 29.26675243915497px;
  height: 29.266752439155088px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_10 {
  position: absolute;
  width: 31.757468658308937px;
  height: 27.849493198186163px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_5 {
  position: absolute;
  width: 91.30272239263769px;
  min-height: 18.10217057882099px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_6 {
  position: absolute;
  width: 304.9021739130435px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Path_11 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_7 {
  position: absolute;
  width: 198.9021739130435px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Button_1 {
  position: absolute;
  width: 300.00000000000057px;
  min-height: 21.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-03cee5ef-1262-46f7-83ae-6a1473a3e186 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}