#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb > #backgroundBox {
  position: absolute;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Image_1 {
  position: absolute;
  width: 414.9325750821308px;
  height: 813.389885057471px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb #s-Hotspot_1 {
  position: absolute;
  width: 62.0px;
  height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-041814cc-b2b0-4136-87a6-76f5f5a66bbb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}