#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d > #backgroundBox {
  position: absolute;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_1 {
  position: absolute;
  width: 198.9021739130435px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Path_1 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Path_13 {
  position: absolute;
  width: 29.26675243915518px;
  height: 29.266752439155088px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Path_2 {
  position: absolute;
  width: 29.266752439155184px;
  height: 29.266752439155088px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Path_3 {
  position: absolute;
  width: 29.2667524391551px;
  height: 29.266752439155088px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Path_4 {
  position: absolute;
  width: 29.266752439155056px;
  height: 29.266752439155088px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Path_5 {
  position: absolute;
  width: 29.26675243915497px;
  height: 29.266752439155088px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_2 {
  position: absolute;
  width: 304.90217391304355px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_3 {
  position: absolute;
  width: 304.90217391304355px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_4 {
  position: absolute;
  width: 304.90217391304355px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_5 {
  position: absolute;
  width: 304.90217391304355px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Path_6 {
  position: absolute;
  width: 31.757468658308937px;
  height: 27.849493198186163px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_6 {
  position: absolute;
  width: 91.30272239263769px;
  min-height: 18.10217057882099px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_7 {
  position: absolute;
  width: 304.9021739130435px;
  min-height: 120.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Button_1 {
  position: absolute;
  width: 300.00000000000057px;
  min-height: 21.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ff9fea7c-990c-40ac-8a77-4726eec13d5d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}