#s-39fbd1e3-894a-4856-9c2e-44966d5f409c > #backgroundBox {
  position: absolute;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Image_2 {
  position: absolute;
  width: 354.5000000000004px;
  height: 200.66942528735638px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Image_2 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_2 {
  position: absolute;
  width: 229.0000000000001px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Path_68 {
  position: absolute;
  width: 20.0px;
  height: 18.350000381469727px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Path_43 {
  position: absolute;
  width: 14.0px;
  height: 18.0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_3 {
  position: absolute;
  width: 205.49999999999926px;
  min-height: 13.000000000000057px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Path_129 {
  position: absolute;
  width: 14.0px;
  height: 20.0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_4 {
  position: absolute;
  width: 116.42250534893898px;
  min-height: 39.55263511545979px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #A877FF;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_5 {
  position: absolute;
  width: 116.42250534893898px;
  min-height: 39.55263511545979px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #D4BCFF;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_6 {
  position: absolute;
  width: 325.81012678606237px;
  min-height: 84.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Image_3 {
  position: absolute;
  width: 69.0px;
  height: 69.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_7 {
  position: absolute;
  width: 234.5448717948703px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_8 {
  position: absolute;
  width: 234.5448717948703px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_9 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_10 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_11 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_12 {
  position: absolute;
  width: 325.81012678606237px;
  min-height: 84.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Image_4 {
  position: absolute;
  width: 69.0px;
  height: 69.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_13 {
  position: absolute;
  width: 234.5448717948703px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_13 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_14 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_14 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_14 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_15 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_15 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_15 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_16 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_16 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_17 {
  position: absolute;
  width: 325.81012678606237px;
  min-height: 84.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_17 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_17 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Image_5 {
  position: absolute;
  width: 69.0px;
  height: 69.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_18 {
  position: absolute;
  width: 234.5448717948703px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_18 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_18 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_18 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_19 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_19 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_19 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_19 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_20 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_20 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_20 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_20 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_21 {
  position: absolute;
  width: 234.54487179487035px;
  min-height: 8.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_21 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_21 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_21 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Path_1 {
  position: absolute;
  width: 25.58119658119638px;
  height: 24.649999999999864px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Path_2 {
  position: absolute;
  width: 23.02307692307693px;
  height: 29.0px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Path_3 {
  position: absolute;
  width: 22.370756117502907px;
  height: 25.360499624907906px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Path_4 {
  position: absolute;
  width: 20.46495726495732px;
  height: 23.199999999999704px;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c #s-Path_117 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-39fbd1e3-894a-4856-9c2e-44966d5f409c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}