#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b > #backgroundBox {
  position: absolute;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_1 {
  position: absolute;
  width: 354.5000000000004px;
  height: 200.66942528735638px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_1 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 {
  position: absolute;
  width: 46.99999999999997px;
  min-height: 40.28571428571425px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20.142857142857125px;
  border-top-right-radius: 20.142857142857125px;
  border-bottom-right-radius: 20.142857142857125px;
  border-bottom-left-radius: 20.142857142857125px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 20.142857142857125px;
  border-top-right-radius: 20.142857142857125px;
  border-bottom-right-radius: 20.142857142857125px;
  border-bottom-left-radius: 20.142857142857125px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20.142857142857125px;
  border-top-right-radius: 20.142857142857125px;
  border-bottom-right-radius: 20.142857142857125px;
  border-bottom-left-radius: 20.142857142857125px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_3 {
  position: absolute;
  width: 299.0000000000002px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_4 {
  position: absolute;
  width: 299.0000000000002px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_2 {
  position: absolute;
  width: 66.00000000000001px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_3 {
  position: absolute;
  width: 66.00000000000001px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_4 {
  position: absolute;
  width: 66.00000000000001px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_5 {
  position: absolute;
  width: 66.00000000000001px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_6 {
  position: absolute;
  width: 66.00000000000001px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_7 {
  position: absolute;
  width: 66.00000000000001px;
  height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_5 {
  position: absolute;
  width: 143.0000000000001px;
  min-height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_6 {
  position: absolute;
  width: 136.0000000000008px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_8 {
  position: absolute;
  width: 136.0000000000008px;
  height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_7 {
  position: absolute;
  width: 127.19161569445777px;
  min-height: 14.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_8 {
  position: absolute;
  width: 136.0000000000008px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_8 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_9 {
  position: absolute;
  width: 136.0000000000008px;
  height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_9 {
  position: absolute;
  width: 127.19161569445777px;
  min-height: 14.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_10 {
  position: absolute;
  width: 136.0000000000008px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_10 {
  position: absolute;
  width: 136.0000000000008px;
  height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_11 {
  position: absolute;
  width: 127.19161569445777px;
  min-height: 14.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_11 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Ellipse_1 {
  width: 23.999999999999773px;
  height: 23.999999999999886px;
  min-height: 23.999999999999886px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFB8B8;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Ellipse_2 {
  width: 23.999999999999773px;
  height: 23.999999999999886px;
  min-height: 23.999999999999886px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFB4B4;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_12 {
  position: absolute;
  width: 307.9999999999998px;
  min-height: 220.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_12 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Path_9 {
  position: absolute;
  width: 74.1015625px;
  height: 11.453125px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_1 {
  position: absolute;
  width: 116.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_2 {
  position: absolute;
  width: 116.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Image_11 {
  position: absolute;
  width: 27.999999999999943px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b #s-Path_117 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1aa32ff1-e0be-402f-b1f3-3cd0e72c1d2b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}