#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 > #backgroundBox {
  position: absolute;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 780.0px;
  width: 100%;
  height: 100%;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Image_2 {
  position: absolute;
  width: 354.5000000000004px;
  height: 200.66942528735638px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Image_2 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 input::-moz-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 input:-moz-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 input::-moz-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 input:-moz-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 input::-moz-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 input:-moz-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 .valign {
  vertical-align: middle;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 input::-webkit-input-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 input::-moz-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 input:-moz-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 input:-ms-input-placeholder {
  color: #82888C;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 .valign {
  vertical-align: middle;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Input_text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Button_1 {
  position: absolute;
  width: 300.00000000000057px;
  min-height: 21.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #848484;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 #s-Path_85 {
  position: absolute;
  width: 25.0px;
  height: 25.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d1ad6d86-c01c-4ca2-99c8-f0d599b8e514 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}